# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Heatmap.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\BrainFlow-Unity-Package\Heatmap\.idea\.idea.Heatmap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
